img{
    background-color: black;
    width: 300px;
    height: 150px;
}
.menubar {
    display :flex;
    background-color: #202125;
}

li{
    display: inline;
   
}
input{
    color: white;
}
a{
    text-decoration: none;
    font-family: "Roboto Condensed",'san-serif';
}
div{
    display: inline;
}
